<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login-SmartDocRetrieval</title>
    <link href="/static/css/frame/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/topics.css">
</head>
<body>

<ul class="main-topic-container">
    <li class="doc_list_card" onclick="card_click(`checkbox-Female`)">
        <div class="topic-checkbox-container checkbox checkbox-primary">
            <input id="checkbox-Female" group="topic-choice" choice-id="0" class="custom-checkbox custom-control styled topic-checkbox" type="checkbox">
            <label class="italic-en-font" for="checkbox-Female">Female Reproductive System</label>
        </div>
        <!--<div class="topic-item">Female Reproductive System</div>-->
    </li>
    <li class="doc_list_card" onclick="card_click(`checkbox-Male`)">
        <div class="topic-checkbox-container checkbox checkbox-primary">
            <input id="checkbox-Male" group="topic-choice" choice-id="1" class="custom-checkbox custom-control styled topic-checkbox" type="checkbox">
            <label class="italic-en-font" for="checkbox-Male">Male Reproductive System</label>
        </div>
        <!--<div class="topic-item">Male Reproductive System</div>-->
    </li>
    <li class="doc_list_card" onclick="card_click(`checkbox-Older`)">
        <div class="topic-checkbox-container checkbox checkbox-primary">
            <input id="checkbox-Older" group="topic-choice" choice-id="2" class="custom-checkbox custom-control styled topic-checkbox" type="checkbox">
            <label class="italic-en-font" for="checkbox-Older">Older Adults</label>
        </div>
        <!--<div class="topic-item">Older Adults</div>-->
    </li>
</ul>

<form id="form1" class="well" style="width: 30em; margin: auto; margin-top: 20px;">
    <h3>User Login</h3>
    <div class=" input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              </span>
        <input id="userName" type="text" class="form-control" placeholder="Account" aria-describedby="sizing-addon1"/>
    </div>
    <br/>
    <div class="input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-lock"></i>
              </span>
        <input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"/>
    </div>
    <button type="button" class="btn btn-success btn-block" style="margin-top: 15px">Login</button>
    {% csrf_token %}
</form>
<div>
    <a class="btn btn-sm btn-white btn-block" style="text-align: center;" href="{% url 'User:user_register' %}">
        <h6>Not have an account?Go Register</h6>
    </a>
</div>
<script src="/static/js/frame/jquery.min.js"></script>
<script src="/static/js/frame/bootstrap.js"></script>
<script>
    /**
     * 控制单选，卡片选择
     * @param card_item
     */
    function card_click(card_item){
        try {
            let _checked = document.querySelector(`#${card_item}`).checked;
            let group_tag = document.querySelector(`#${card_item}`).getAttribute("group");
            if (group_tag != null)
                document.querySelectorAll(`[group='${group_tag}']`).forEach(check_box => check_box.checked = false);
            document.querySelector(`#${card_item}`).checked = !_checked;
        } catch (e) {
            console.log(e);
        }
    }

    function get_topic_choice(){
        let user_choice = document.querySelector(`.topic-checkbox:checked[type='checkbox']`);
        if (user_choice == null)
            alert("Please choose a topic you`re interested in.")
        else
            return user_choice.getAttribute("choice-id");
    }

    $("#form1").on("click", ".btn", function (e) {
        let choice_id = get_topic_choice();
        if (choice_id == null)
            return;
        $.ajax({
            url: "{% url 'User:user_login' %}",
            type: "post",
            async: false,
            data: {
                'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']")[0].getAttribute("value"),
                "username": $("#userName").val(),
                "password": $("#password").val(),
                "flag": choice_id
            },
            dataType: "json",
            success: function (result) {
                if (result["success"] && result["redirect"] != null) {
                    window.location = `${result["redirect"]}`;
                } else if (result["success"]) {
                    window.location = `/doc_browse/list/${result["user_id"]}/${result["flag"]}/`;
                } else {
                    alert(result["msg"]);
                }
            }
        });
    })
</script>
</body>
</html>
