<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register-SmartDocRetrieval</title>
    <link href="/static/css/frame/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<form id="form1" class="well" style="width: 30em; margin: auto; margin-top: 150px;">
    <h3>Register</h3>
    <div class=" input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              </span>
        <input id="userName" type="text" class="form-control" placeholder="Account" aria-describedby="sizing-addon1"/>
    </div>
    <br/>
    <div class="input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-lock"></i>
              </span>
        <input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1"/>
    </div>
    <button type="button" class="btn btn-success btn-block" onclick="register()" style="margin-top: 15px">Register</button>
    {% csrf_token %}
</form>
<div>
    <a class="btn btn-sm btn-white btn-block" style="text-align: center;" href="{% url 'User:user_login' %}">
    <h6>Already have an account?Login</h6>
</a>
</div>
<script src="/static/js/frame/jquery.min.js"></script>
<script src="/static/js/frame/bootstrap.js"></script>
<script>
    function register() {
        $.ajax({
            url: "{% url 'User:user_register' %}",
            type: "post",
            data: {
                'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']")[0].getAttribute("value"),
                "username": $("#userName").val(),
                "password": $("#password").val()
            },
            dataType: "json",
            success: function (result) {
                if (result["success"]) {
                    window.location = "{% url 'User:user_login' %}";
                } else {
                    alert(result["msg"]);
                }
            }
        });
    }
</script>
</body>
</html>